.cards {
  max-width: 880px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  justify-content: center;
  gap: 20px 17px;
  padding: 46px 0 66px;
}

@media screen and (max-width: 984px) {
  .cards {
    width: calc(100% - 104px);
  }
}

@media screen and (max-width: 568px) {
  .cards {
    padding: 36px 0 48px;
  }
}
