.cards__title {
  font-family: 'Inter', Arial, sans-serif;
  color: black;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 0 0 20px;
}
