.user__status {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 340px;
}

@media screen and (max-width: 568px) {
  .user__status {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    padding-top: 6px;
    max-width: 282px;
  }
}
